cffi
cmake
coverage >= 4.3.4
Cython
kwarray
ninja
numpy >= 1.15.2
opencv-python >= 3.4.1.15
pandas >= 0.23.3
Pillow >= 5.2.0
pytest >= 3.3.1
pytest-cov
scikit-build
scikit-image >= 0.14
scikit-learn >= 0.20.1
scipy >= 1.1.0
six >= 1.11.0
torch >= 0.4.1
ubelt >= 0.7.1
xdoctest >= 0.3.0
